<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spcomps14.group11.hci.mathforkids" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.spcomps14.group11.hci.mathforkids.StartPage"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spcomps14.group11.hci.mathforkids.LearnPage"
            android:label="@string/title_activity_learn_page"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.spcomps14.group11.hci.mathforkids.CountPage"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_count_page" >
        </activity>
        <activity
            android:name="com.spcomps14.group11.hci.mathforkids.SolvePage"
            android:label="@string/title_activity_solve_page"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
